.signin {
    .modal-content {
        .container {
            .form-signin {
                p.txt-wcback {
                    font-style: normal;
                    font-weight: 300;
                    font-size: 17px;
                    line-height: 22px;
                    color: #999999;
                    margin-bottom: 32px;
                }
                .txt-donthave {
                    color: #ffc22f;
                    font-size: 12px;
                    line-height: 13px;
                    font-weight: 400;
                    opacity: 0.7;
                }
                .txt-donthave:hover {
                    text-decoration: underline;
                }
                input {
                    background: #333333;
                    border-radius: 5px;
                    border: none;
                    outline: none;
                    height: 50px;
                    width: 100%;
                    margin-bottom: 30px;
                    padding: 0 20px;
                    color: #ffc22f;
                    font-weight: 300;
                    font-size: 14px;
                    transition: 0.3s;
                }
                input:hover {
                    border: 1px solid #ffc22f;
                }

                ::placeholder {
                    font-style: normal;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 18px;
                }
                a {
                    text-decoration: none;
                }
                button:hover {
                    border: 1px solid #ffc22f;
                }
            }
        }
    }
}
