.homepage {
    .select-player {
        display: flex;
        justify-content: space-between;
        margin: 32px auto;
        align-items: center;
        .card-select {
            width: 125px !important;
            height: 125px;
            background: #333333;
            border-radius: 4px;
        }

        .txt-vs {
            color: #ffc22f;
            font-style: normal;
            font-weight: normal;
            font-size: 22px;
            line-height: 28px;
        }
    }
}

@media screen and (max-width: 576px) {
    .search-player {
        .container {
            .group-card {
                .search-card {
                    .title {
                        font-size: 14px;
                        margin: 5px 0;
                    }
                    .card-time-active {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
