.welcome {
    .container {
        input {
            background: #333333;
            border-radius: 5px;
            width: 150px;
            height: 50px;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            outline: none;
            border: none;
            color: #ffc22f;
            margin-bottom: 40px;
            transition: cubic-bezier(0.47, 0, 0.745, 0.715);
        }
        input:hover {
            border: 1px solid #ffc22f;
        }
        .avatar {
            margin-bottom: 54px;
            display: flex;
            justify-content: center;
            transition: cubic-bezier(0.445, 0.05, 0.55, 0.95);
            .ant-upload.ant-upload-select.ant-upload-select-picture-card {
                width: 150px;
                height: 150px;
                border-radius: 10px;
                background: #333333;
                outline: none;
                border: none;
                img {
                    width: 150px;
                    height: 150px;
                    border-radius: 10px;
                    border: none;
                    outline: none;
                }
            }
            span.ant-upload {
                color: white;
                .ant-upload {
                    input {
                        img {
                            object-fit: cover;
                        }
                    }
                }
            }
            .ant-upload.ant-upload-select.ant-upload-select-picture-card:hover {
                border: 1px solid #ffc22f;
                color: #ffffff;
            }
        }
    }
}
