.welcome {
    .container {
        input {
            background: #333333;
            border-radius: 5px;
            width: 150px;
            height: 50px;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            outline: none;
            border: none;
            color: #ffc22f;
            margin-bottom: 40px;
        }
        .avatar {
            margin-bottom: 54px;
            display: flex;
            justify-content: center;
            .ant-upload.ant-upload-select.ant-upload-select-picture-card {
                width: 150px;
                height: 150px;
                border-radius: 10px;
                background: #333333;
                color: white;
                outline: none;
                border: none;
                img {
                    width: 150px;
                    height: 150px;
                    border-radius: 10px;
                    border: none;
                    outline: none;
                }
            }
        }
    }
}
