body {
    box-sizing: border-box;
    margin: 0;
    background: #151522 !important;
    font-family: 'Red Hat Display', sans-serif;
}
.container {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    max-width: 576px;
    min-height: 600px;
    text-align: center;
}
button.normal-btn {
    background: #ffc22f;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    outline: none;
    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
    line-height: 20px;
    border: none;
    transition: 0.5s;
    box-shadow: 1px 1px 4px #7a7979;
    margin-bottom: 15px;
    cursor: pointer;
}
button.normal-btn:hover {
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffc22f;
}

h1 {
    font-size: 80px;
    line-height: 120px;
    font-weight: 600;
    font-style: normal;
    color: #ffc22f !important;
    margin-top: 32px !important;
}

h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    color: #ffc22f !important;
    margin-bottom: 60px !important;
    margin-top: 32px !important;
}
h4 {
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    color: #e0e0e0 !important;
    margin: 20px auto !important;
}
